<div class="chat-item">
    <div class="chat-item__img">
        <!--        <img src="#" alt="Изображение собеседника">-->
    </div>
    <div class="chat-item-text">
        <h2 class="chat-item__name">{{name}}</h2>
        <span class="chat-item__content">{{content}}</span>
    </div>
    <div class="chat-item-info">
        <span class="chat-item__time">{{time}}</span>
        <div class="chat-item__count"><span>{{count}}</span></div>
    </div>
</div>