<main class='login'>
    <div class='login__wrapper'>
        <div class='login__wrapper-header'>Вход</div>
        <form action='#' class='form-login'>
            <div class="form-login__inputs">
<!--                {{>input type='text' class='form-login__login' text='Логин' name='login'}}-->
<!--                {{>input type='text' class='form-login__password' text='Пароль' name='password'}}-->
            </div>
            {{{buttonLogin}}}
<!--            <a href='../registration/registration.html' class='form-login__backlink'>Нет аккаунта?</a>-->
        </form>
    </div>
</main>