.profile {
  height: 100%;

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__link {
    position: relative;
    width: 64px;
    background: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__linkToChat {
    width: 28px;
    height: 28px;
    background: url("./image/back.png") center center no-repeat;

  }

  &__info {
    position: relative;
    width: 100%;
    display: flex;
    //justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 100px 0;

    &-avatar {
      width: 130px;
      height: 130px;
      border-radius: 100%;
      background: #EFEFEF;
      cursor: pointer;
      margin-bottom: 21px;
    }

    &-name {
      color: #1E1E1E;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
    }

  }

}

.form-info {
  width: 510px;
  margin-top: 60px;

  &__input {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
  }

  &__input:last-child {
    border-bottom: none;
  }

  &-title {
    color: #1E1E1E;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;

    &-link {
      color: #3369F3;
      text-decoration: none;
    }

    &-exit {
      color: #F00;
      text-decoration: none;
    }
  }

  &__box {
    border: none;
    color: #999;
    text-align: right;
    font-size: 13px;
    font-weight: 500;
    line-height: 13px;
  }

  & .links {
    margin-top: 60px;
  }
}

