<main class='profile'>
    <div class='profile__wrapper'>
        <div class='profile__link'>
            <a href='../chats/chats.html' class='profile__linkToChat'></a>
        </div>
        <div class='profile__info'>
            <div class='profile__info-avatar'>
                <!--                <img src="" alt="Аватар">-->
            </div>
            <div class="profile__info-name">Иван</div>
            {{{form}}}
        </div>
    </div>
</main>