<main class='profile'>
    <div class='profile__wrapper'>
        <div class='profile__link'>
            <a href='/messenger' class='profile__linkToChat'></a>
        </div>
        <div class='profile__info'>
            {{{avatar}}}
            {{{form}}}
            {{{buttonExit}}}
        </div>

    </div>
</main>
{{{modal}}}
