<main class='profile'>
    <div class='profile__wrapper'>
        <div class='profile__link'>
            <a href='/profile' class='profile__linkToChat'></a>
        </div>
        <div class='profile__info'>
<!--            <div class='profile__info-avatar'>-->
<!--                &lt;!&ndash;                <img src="" alt="Аватар">&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="profile__info-name">Иван</div>-->
            {{{form}}}
        </div>
    </div>
</main>
