<div class="modal">
    <div class="modal_overlay">
        {{{close}}}
        {{{title}}}
            <input
                    class="modal_input"
                    type="file"
                    placeholder="Выберите файл">
        {{{button}}}
    </div>
</div>

