<main class='chats'>
    <section class="list-chats">
        <div class="link-profile">
            <a href="/profile" class="link-profile__link">Профиль</a>
            <img class="link-profile__img" src="../../pages/chats/image/Polygon%201.svg" alt="Переход на профиль">
        </div>
        <label>
            <input class="list-chats__search" type="text" placeholder='Поиск'>
        </label>
        <div class="list-chats__items">
            {{{chatItem}}}
        </div>
    </section>
    <section class="chat-openItem">
        {{{chat}}}
    </section>
</main>
