.chats {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.list-chats {
  width: 310px;
  padding-top: 21px;
}
.menu-chats{
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.link-profile {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 23px;
  padding-top: 17px;

  &__link {
    margin-right: 8px;
    text-decoration: none;
    color: #999;
    text-align: right;
    font-weight: 500;
    line-height: 12px;
  }
}

.list-chats{
  &__search {
    width: 90%;
    height: 32px;
    border-radius: 5px;
    border: none;
    background: #EFEFEF;
    margin: 0 10px 14px 10px;
  }

  &__search::placeholder {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
  }
}

.chat-item {
  height: 71px;
  border-top: 1px solid #EAEAEA;
  margin: 0 10px 0 10px;
  display: flex;
  align-items: center;

  &-text {
    width: 193px;
    margin-left: 10px;
  }

  &__img {
    width: 47px;
    height: 47px;
    border-radius: 47px;
    background: #EFEFEF;
  }

  &__name {
    color: #1E1E1E;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 4px;
  }

  &_content {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time {
    color: #999;
    font-size: 9px;
    font-weight: 500;
    line-height: 13px;
    margin-bottom: 14px;
  }

  &__count {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #3369F3;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chat-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &_text {
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
}

.chat-openItem {
  width: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 10px 20px;

  &-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;
  }

  &-people {
    display: flex;
    align-items: center;
    gap: 10px;

    &__img {
      width: 47px;
      height: 47px;
      border-radius: 47px;
      background: #EFEFEF;
    }

    &__name {
      color: #1E1E1E;
      font-size: 13px;
      font-weight: 600;
      line-height: 13px;
    }
  }
}
.chat-menu {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.chat-menu-points {
  position: relative;
  width: 3px;
  height: 3px;
  background-color: black;
  top: 10px;
  cursor: pointer;
}

.submenu, .submenu_addChat {
  visibility: hidden;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.chat-menu:hover .submenu {
  position: absolute;
  right: 20px;
  padding: 19px 15px 19px 15px;
  visibility: visible;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chat-menu:hover .submenu_addChat {
  position: absolute;
  padding: 19px 15px 19px 15px;
  visibility: visible;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.chat-menu-points:before, .chat-menu-points:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}

.chat-menu-points:before {
  top: 10px;
}

.chat-menu-points:after {
  top: 20px;
}

.chat {
  &-main {
    height: 90%;
    overflow-y: auto;
  }
  &-main::-webkit-scrollbar {
    width: 10px;
  }

  &-main::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  &-main::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }

  &_day {
    color: #999;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }

  &__item {
    display: flex;
    align-items: flex-start;

    &--responder {
      flex-direction: row-reverse;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-content {
      border-radius: 5px;
      border: none;
      background-color: #F8F8F8;
      display: inline-block;
      color: #1E1E1E;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      padding: 11px;
      max-width: 50%;
    }

    &-time {
      color: #999;
      text-align: right;
      font-size: 9px;
      line-height: 9px;
    }
  }

  &-newMessage {
    display: flex;
    padding: 10px 0 10px 0;
    border-top: 1px solid #EAEAEA;
    align-items: center;
    margin-bottom: 10px;
  }

  //&-addFile {
  //  width: 32px;
  //  height: 32px;
  //  background: url('./image/Group 197.svg') center center no-repeat;
  //
  //  font-size: 1.25em;
  //  font-weight: 700;
  //  color: white;
  //  cursor: pointer;
  //  display: inline-block;
  //  &:focus + label,
  //  & label:hover {
  //    background-color: red;
  //    cursor: pointer;
  //  }
  //}


  &-pushNewMessage {
    width: 33px;
    height: 28px;
    background: url('./image/Group 202.svg') center center no-repeat;
    cursor: pointer;
  }
}
.addFile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.chat__item--responder .chat__message {
  flex-direction: row-reverse;
}
.inputMessage {
    max-width: calc(1426px - 66px);
    display: flex;
}
.formSendMessage {
  display: flex;
  align-items: flex-end;
}
//.chat-newMessage:first-child{width: 100%}
