<div class="chat__message">
    <div class="chat__message-content">Окончательная визуализация должна быть готова до конца
        четвёртого спринта, то есть именно тогда проект должен выглядеть как ваш прототип.
        <span class="chat__message-time">9:03</span>
    </div>
</div>