<div class="chat-item">
    <div class="chat-item__img">
<!--        <img src="#" alt="Изображение собеседника">-->
    </div>
    <div class="chat-item-text">
        <h2 class="chat-item__name">Андрей</h2>
        <span class="chat-item__content">Изображение</span>
    </div>
    <div class="chat-item-info">
        <span class="chat-item__time">10:49</span>
        <div class="chat-item__count"><span>2</span></div>
    </div>
</div>