<div class="chat">
    <div class="chat-title">
        <div class="chat-people">
            <div class="chat-people__img">
                <!--                <img src="#" alt="Изображение собеседника">-->
            </div>
            <h2 class="chat-people__name">Андрей</h2>
        </div>
        <div class="chat-menu">
            <div class="submenu">
                <div class="submenu-item_plus">Добавить пользователя
                </div>
                <div class="submenu-item_delete">Удалить пользователя
                </div>
            </div>
        </div>
    </div>
    <div class="chat-main">


        <h3 class="chat__day">19 июня</h3>

        <div class="chat__content">
            <div class="chat__item">
                <div class="chat__messages">
                    <div class="chat__message">
                        <div class="chat__message-content">Привет! Смотри, тут всплыл интересный кусок лунной
                            космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC
                            для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову
                            говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с
                            собой забрали только кассеты с пленкой.

                            Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                            никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на
                            аукционе за 45000 евро.
                            <span class="chat__message-time">9:03</span>
                        </div>
                    </div>

                    <div class="chat__message">
                        <div class="chat__message-content">Окончательная визуализация должна быть готова до конца
                            четвёртого спринта, то есть именно тогда проект должен выглядеть как ваш прототип.
                            <span class="chat__message-time">9:03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat__item chat__item--responder">
                <div class="chat__messages">
                    <div class="chat__message">
                        <div class="chat__message-content">Круто!
                            <span class="chat__message-time">9:05</span>
                        </div>
                    </div>

                    <div class="chat__message">
                        <div class="chat__message-content">Выбор за вами.
                            <span class="chat__message-time">9:07</span>
                        </div>
                    </div>

                    <div class="chat__message">
                        <div class="chat__message-content">Если ваш дизайн предполагает наличие модульных окон, которые
                            в этом спринте никак не используются, делать их сейчас необязательно.
                            <span class="chat__message-time">9:07</span>
                        </div>
                    </div>
                </div>
            </div>


            <!--            <div class='chat-messagesOneDay__getImg'>-->
            <!--&lt;!&ndash;                не подгружается фотография&ndash;&gt;-->
            <!--                <img class='chat-messagesOneDay__Img' src='../pages/chats/image/Photo1.png' alt='photo' />-->
            <!--                <span class='chat-messagesOneDay__time img-time'>11:57</span>-->
            <!--            </div>-->

        </div>
    </div>
    <div class="chat-newMessage">
        <div class="chat-addFile"></div>
        <input class="chat-addNewMessage" placeholder="Сообщение" name="message">
        <div class="chat-pushNewMessage"></div>
    </div>
</div>
