<div class='error__wrapper'>
    <div class='error__wrapper-number'>{{ErrorNumber}}</div>
    <div class='error__wrapper-text'>{{ErrorName}}</div>
    <a class='error__wrapper-link' href="../pages/chats/chats.js">Назад к чатам</a>
</div>