<div class="chat__item chat__item--responder">
    <div class="chat__messages">
        <div class="chat__message">
            <div class="chat__message-content">{{{text}}}
                <span class="chat__message-time">{{{time}}}</span>
            </div>
        </div>
    </div>
</div>
