<div class='form-info__input'>
    <div class='form-info-title'>{{title}}</div>
    <input
            name={{name}}
            type={{type}}
            class='form-info__box'
            value={{value}}
        {{#if readonly}}
            readonly
        {{/if}}
    />
</div>
</div>